openapi: 3.1.0
info:
  title: Amazon DocumentDB API
  description: Amazon DocumentDB is a fully managed, MongoDB-compatible document database service designed for performance, scalability, and availability when operating mission-critical MongoDB workloads at scale.
  version: '2014-10-31'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
    url: https://aws.amazon.com/documentdb/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://rds.amazonaws.com
    description: Amazon DocumentDB API endpoint
paths:
  /:
    post:
      operationId: createDBCluster
      summary: Create DB Cluster
      description: Creates a new Amazon DocumentDB cluster. A cluster consists of one or more instances that are connected to a shared storage volume.
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateDBCluster
        - name: Version
          in: query
          required: true
          schema:
            type: string
            default: '2014-10-31'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - DBClusterIdentifier
                - Engine
                - MasterUsername
                - MasterUserPassword
              properties:
                DBClusterIdentifier:
                  type: string
                  description: The DB cluster identifier.
                Engine:
                  type: string
                  description: The name of the database engine to be used for this DB cluster.
                  default: docdb
                MasterUsername:
                  type: string
                  description: The name of the master user for the DB cluster.
                MasterUserPassword:
                  type: string
                  description: The password for the master database user.
                DBSubnetGroupName:
                  type: string
                  description: A DB subnet group to associate with this DB cluster.
                VpcSecurityGroupIds:
                  type: array
                  items:
                    type: string
                  description: A list of EC2 VPC security groups to associate with this DB cluster.
                EngineVersion:
                  type: string
                  description: The version number of the database engine to use.
                Port:
                  type: integer
                  description: The port number on which the instances in the DB cluster accept connections.
                StorageEncrypted:
                  type: boolean
                  description: Specifies whether the DB cluster is encrypted.
                BackupRetentionPeriod:
                  type: integer
                  description: The number of days for which automated backups are retained.
      responses:
        '200':
          description: Successful response with the created DB cluster details.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CreateDBClusterResult'
        '400':
          description: Bad request error.
    get:
      operationId: describeDBClusters
      summary: Describe DB Clusters
      description: Returns information about provisioned Amazon DocumentDB clusters.
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - DescribeDBClusters
        - name: Version
          in: query
          required: true
          schema:
            type: string
            default: '2014-10-31'
        - name: DBClusterIdentifier
          in: query
          schema:
            type: string
          description: The identifier of the cluster to describe.
        - name: MaxRecords
          in: query
          schema:
            type: integer
          description: The maximum number of records to include in the response.
        - name: Marker
          in: query
          schema:
            type: string
          description: An optional pagination token provided by a previous request.
      responses:
        '200':
          description: Successful response with DB cluster details.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DescribeDBClustersResult'
        '404':
          description: DB cluster not found.
  /#DeleteDBCluster:
    post:
      operationId: deleteDBCluster
      summary: Delete DB Cluster
      description: Deletes a previously provisioned DB cluster. When you delete a DB cluster, all automated backups for that DB cluster are deleted and can't be recovered.
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - DeleteDBCluster
        - name: Version
          in: query
          required: true
          schema:
            type: string
            default: '2014-10-31'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - DBClusterIdentifier
              properties:
                DBClusterIdentifier:
                  type: string
                  description: The DB cluster identifier for the DB cluster to be deleted.
                SkipFinalSnapshot:
                  type: boolean
                  description: Determines whether a final DB cluster snapshot is created before the DB cluster is deleted.
                FinalDBSnapshotIdentifier:
                  type: string
                  description: The DB cluster snapshot identifier of the new DB cluster snapshot created when SkipFinalSnapshot is set to false.
      responses:
        '200':
          description: Successful response with the deleted DB cluster details.
        '404':
          description: DB cluster not found.
  /#CreateDBInstance:
    post:
      operationId: createDBInstance
      summary: Create DB Instance
      description: Creates a new DB instance within a DocumentDB cluster.
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateDBInstance
        - name: Version
          in: query
          required: true
          schema:
            type: string
            default: '2014-10-31'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - DBInstanceIdentifier
                - DBInstanceClass
                - Engine
                - DBClusterIdentifier
              properties:
                DBInstanceIdentifier:
                  type: string
                  description: The DB instance identifier.
                DBInstanceClass:
                  type: string
                  description: The compute and memory capacity of the DB instance.
                Engine:
                  type: string
                  description: The name of the database engine to be used for this instance.
                  default: docdb
                DBClusterIdentifier:
                  type: string
                  description: The identifier of the DB cluster that the instance will belong to.
                AvailabilityZone:
                  type: string
                  description: The EC2 Availability Zone that the DB instance is created in.
                AutoMinorVersionUpgrade:
                  type: boolean
                  description: Indicates that minor engine upgrades are applied automatically during maintenance windows.
      responses:
        '200':
          description: Successful response with the created DB instance details.
        '400':
          description: Bad request error.
  /#DescribeDBInstances:
    get:
      operationId: describeDBInstances
      summary: Describe DB Instances
      description: Returns information about provisioned Amazon DocumentDB instances.
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - DescribeDBInstances
        - name: Version
          in: query
          required: true
          schema:
            type: string
            default: '2014-10-31'
        - name: DBInstanceIdentifier
          in: query
          schema:
            type: string
          description: The identifier of the DB instance to describe.
        - name: MaxRecords
          in: query
          schema:
            type: integer
          description: The maximum number of records to include in the response.
        - name: Marker
          in: query
          schema:
            type: string
          description: An optional pagination token provided by a previous request.
      responses:
        '200':
          description: Successful response with DB instance details.
        '404':
          description: DB instance not found.
components:
  schemas:
    CreateDBClusterResult:
      type: object
      properties:
        DBCluster:
          $ref: '#/components/schemas/DBCluster'
    DescribeDBClustersResult:
      type: object
      properties:
        DBClusters:
          type: array
          items:
            $ref: '#/components/schemas/DBCluster'
        Marker:
          type: string
    DBCluster:
      type: object
      properties:
        DBClusterIdentifier:
          type: string
          description: The identifier of the DB cluster.
        DBClusterArn:
          type: string
          description: The Amazon Resource Name (ARN) for the DB cluster.
        Status:
          type: string
          description: Specifies the current state of this DB cluster.
        Engine:
          type: string
          description: The database engine used for this DB cluster.
        EngineVersion:
          type: string
          description: The version of the database engine.
        Endpoint:
          type: string
          description: The connection endpoint for the primary instance of the DB cluster.
        ReaderEndpoint:
          type: string
          description: The reader endpoint for the DB cluster.
        Port:
          type: integer
          description: The port that the database engine is listening on.
        MasterUsername:
          type: string
          description: The master username for the DB cluster.
        DBSubnetGroup:
          type: string
          description: The DB subnet group associated with the DB cluster.
        StorageEncrypted:
          type: boolean
          description: Specifies whether the DB cluster is encrypted.
        BackupRetentionPeriod:
          type: integer
          description: The number of days for which automatic DB snapshots are retained.
        ClusterCreateTime:
          type: string
          format: date-time
          description: The time when the DB cluster was created.
        DBClusterMembers:
          type: array
          items:
            type: object
            properties:
              DBInstanceIdentifier:
                type: string
              IsClusterWriter:
                type: boolean
          description: The list of instances that make up the DB cluster.
  securitySchemes:
    aws_sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication.
