openapi: 3.1.0
info:
  title: Amazon DocumentDB API
  description: Amazon DocumentDB is a fully managed, MongoDB-compatible document database service designed for performance, scalability, and availability when operating mission-critical MongoDB 
    workloads at scale.
  version: '2014-10-31'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
    url: https://aws.amazon.com/documentdb/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://rds.amazonaws.com
  description: Amazon DocumentDB API endpoint
paths:
  /:
    post:
      operationId: createDBCluster
      summary: Amazon DocumentDB Create DB Cluster
      description: Creates a new Amazon DocumentDB cluster. A cluster consists of one or more instances that are connected to a shared storage volume.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - CreateDBCluster
        example: CreateDBCluster
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2014-10-31'
        example: 5.0.0
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - DBClusterIdentifier
              - Engine
              - MasterUsername
              - MasterUserPassword
              properties:
                DBClusterIdentifier:
                  type: string
                  description: The DB cluster identifier.
                Engine:
                  type: string
                  description: The name of the database engine to be used for this DB cluster.
                  default: docdb
                MasterUsername:
                  type: string
                  description: The name of the master user for the DB cluster.
                MasterUserPassword:
                  type: string
                  description: The password for the master database user.
                DBSubnetGroupName:
                  type: string
                  description: A DB subnet group to associate with this DB cluster.
                VpcSecurityGroupIds:
                  type: array
                  items:
                    type: string
                  description: A list of EC2 VPC security groups to associate with this DB cluster.
                EngineVersion:
                  type: string
                  description: The version number of the database engine to use.
                Port:
                  type: integer
                  description: The port number on which the instances in the DB cluster accept connections.
                StorageEncrypted:
                  type: boolean
                  description: Specifies whether the DB cluster is encrypted.
                BackupRetentionPeriod:
                  type: integer
                  description: The number of days for which automated backups are retained.
            examples:
              createDBClusterRequestExample:
                summary: Default createDBCluster request
                x-microcks-default: true
                value: {}
      responses:
        '200':
          description: Successful response with the created DB cluster details.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CreateDBClusterResult'
              examples:
                createDBCluster200Example:
                  summary: Default createDBCluster 200 response
                  x-microcks-default: true
                  value:
                    DBCluster: example-cluster-01
        '400':
          description: Bad request error.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: describeDBClusters
      summary: Amazon DocumentDB Describe DB Clusters
      description: Returns information about provisioned Amazon DocumentDB clusters.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DescribeDBClusters
        example: DescribeDBClusters
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2014-10-31'
        example: 5.0.0
      - name: DBClusterIdentifier
        in: query
        schema:
          type: string
        description: The identifier of the cluster to describe.
        example: example-cluster-01
      - name: MaxRecords
        in: query
        schema:
          type: integer
        description: The maximum number of records to include in the response.
        example: 1
      - name: Marker
        in: query
        schema:
          type: string
        description: An optional pagination token provided by a previous request.
        example: example-string
      responses:
        '200':
          description: Successful response with DB cluster details.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DescribeDBClustersResult'
              examples:
                describeDBClusters200Example:
                  summary: Default describeDBClusters 200 response
                  x-microcks-default: true
                  value:
                    DBClusters:
                    - example-cluster-01
                    Marker: example-string
        '404':
          description: DB cluster not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /#DeleteDBCluster:
    post:
      operationId: deleteDBCluster
      summary: Amazon DocumentDB Delete DB Cluster
      description: Deletes a previously provisioned DB cluster. When you delete a DB cluster, all automated backups for that DB cluster are deleted and can't be recovered.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DeleteDBCluster
        example: DeleteDBCluster
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2014-10-31'
        example: 5.0.0
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - DBClusterIdentifier
              properties:
                DBClusterIdentifier:
                  type: string
                  description: The DB cluster identifier for the DB cluster to be deleted.
                SkipFinalSnapshot:
                  type: boolean
                  description: Determines whether a final DB cluster snapshot is created before the DB cluster is deleted.
                FinalDBSnapshotIdentifier:
                  type: string
                  description: The DB cluster snapshot identifier of the new DB cluster snapshot created when SkipFinalSnapshot is set to false.
            examples:
              deleteDBClusterRequestExample:
                summary: Default deleteDBCluster request
                x-microcks-default: true
                value: {}
      responses:
        '200':
          description: Successful response with the deleted DB cluster details.
        '404':
          description: DB cluster not found.
      tags:
      - '#DeleteDBCluster'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /#CreateDBInstance:
    post:
      operationId: createDBInstance
      summary: Amazon DocumentDB Create DB Instance
      description: Creates a new DB instance within a DocumentDB cluster.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - CreateDBInstance
        example: CreateDBInstance
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2014-10-31'
        example: 5.0.0
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - DBInstanceIdentifier
              - DBInstanceClass
              - Engine
              - DBClusterIdentifier
              properties:
                DBInstanceIdentifier:
                  type: string
                  description: The DB instance identifier.
                DBInstanceClass:
                  type: string
                  description: The compute and memory capacity of the DB instance.
                Engine:
                  type: string
                  description: The name of the database engine to be used for this instance.
                  default: docdb
                DBClusterIdentifier:
                  type: string
                  description: The identifier of the DB cluster that the instance will belong to.
                AvailabilityZone:
                  type: string
                  description: The EC2 Availability Zone that the DB instance is created in.
                AutoMinorVersionUpgrade:
                  type: boolean
                  description: Indicates that minor engine upgrades are applied automatically during maintenance windows.
            examples:
              createDBInstanceRequestExample:
                summary: Default createDBInstance request
                x-microcks-default: true
                value: {}
      responses:
        '200':
          description: Successful response with the created DB instance details.
        '400':
          description: Bad request error.
      tags:
      - '#CreateDBInstance'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /#DescribeDBInstances:
    get:
      operationId: describeDBInstances
      summary: Amazon DocumentDB Describe DB Instances
      description: Returns information about provisioned Amazon DocumentDB instances.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DescribeDBInstances
        example: DescribeDBInstances
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2014-10-31'
        example: 5.0.0
      - name: DBInstanceIdentifier
        in: query
        schema:
          type: string
        description: The identifier of the DB instance to describe.
        example: i-0abc123def456789
      - name: MaxRecords
        in: query
        schema:
          type: integer
        description: The maximum number of records to include in the response.
        example: 1
      - name: Marker
        in: query
        schema:
          type: string
        description: An optional pagination token provided by a previous request.
        example: example-string
      responses:
        '200':
          description: Successful response with DB instance details.
        '404':
          description: DB instance not found.
      tags:
      - '#DescribeDBInstances'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CreateDBClusterResult:
      type: object
      properties:
        DBCluster:
          $ref: '#/components/schemas/DBCluster'
    DescribeDBClustersResult:
      type: object
      properties:
        DBClusters:
          type: array
          items:
            $ref: '#/components/schemas/DBCluster'
          example:
          - example-cluster-01
        Marker:
          type: string
          example: example-string
    DBCluster:
      type: object
      properties:
        DBClusterIdentifier:
          type: string
          description: The identifier of the DB cluster.
          example: example-cluster-01
        DBClusterArn:
          type: string
          description: The Amazon Resource Name (ARN) for the DB cluster.
          example: arn:aws:service:us-east-1:123456789012:resource/example
        Status:
          type: string
          description: Specifies the current state of this DB cluster.
          example: available
        Engine:
          type: string
          description: The database engine used for this DB cluster.
          example: docdb
        EngineVersion:
          type: string
          description: The version of the database engine.
          example: docdb
        Endpoint:
          type: string
          description: The connection endpoint for the primary instance of the DB cluster.
          example: example-string
        ReaderEndpoint:
          type: string
          description: The reader endpoint for the DB cluster.
          example: example-string
        Port:
          type: integer
          description: The port that the database engine is listening on.
          example: 27017
        MasterUsername:
          type: string
          description: The master username for the DB cluster.
          example: example-resource-name
        DBSubnetGroup:
          type: string
          description: The DB subnet group associated with the DB cluster.
          example: example-cluster-01
        StorageEncrypted:
          type: boolean
          description: Specifies whether the DB cluster is encrypted.
          example: true
        BackupRetentionPeriod:
          type: integer
          description: The number of days for which automatic DB snapshots are retained.
          example: 1
        ClusterCreateTime:
          type: string
          format: date-time
          description: The time when the DB cluster was created.
          example: '2025-03-15T14:30:00Z'
        DBClusterMembers:
          type: array
          items:
            type: object
            properties:
              DBInstanceIdentifier:
                type: string
              IsClusterWriter:
                type: boolean
          description: The list of instances that make up the DB cluster.
          example:
          - DBInstanceIdentifier: i-0abc123def456789
            IsClusterWriter: true
  securitySchemes:
    aws_sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication.
tags:
- name: '#CreateDBInstance'
- name: '#DeleteDBCluster'
- name: '#DescribeDBInstances'
